{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}
{% trans "Checkout" %}
{% endblock %}
{% block content %}
<h1>{% trans "Checkout" %}</h1>
<div class="row">
    <div class="col d-flex justify-content-center">

        <div class="d-flex justify-content-center">
            <h3>{% trans "YOur Order" %}</h3>
            <ul>
                {% for item in cart %}
            <li>
                {{ item.quantity }}x {{ item.product.name }}
                <span>${{ item.total_price }}</span>
            </li>
            {% endfor %}
            </br>
            {% if cart.coupon %}
            <li>
                {% blocktrnas with code = cart.coupon.code discount= cart.coupon.discount %}
                "{{ code }}" ({{ discount }}% off)
            </br>
            <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
            {% endblocktrnas %}
        </li>
        {% endif %}
    </ul>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <p>{% trans "Total" %}: ${{ cart.get_total_price_after_discount }}</p>
    </div>
</div>
    
<div class="d-flex justify-content-center">
    <form method="post" class="form">
        {{ form.as_p }}
        <p><input type="submit" class="btn btn-secondary btn-lg" value="Place order"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}