{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div id="main">
    <div class="row ">
        <div class="col-12 text-center">
            <h1 class="text-center">{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        </div>
    </div>
    <div class="row">

        <div class="row">
        {% for product in products %}
            <div class="col-4 mx-3 my-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <a href="{{ product.get_absolute_url }}" class="btn btn-primary">${{ product.price }}</a>
                    </div>
                  </div>
            </div>
            
            {% endfor %}
        </div>    
        </div>
    </div>
{% endblock %}